#.gitignore file for mrazamerine/infrastructure

# Ansible retry files
*.retry

# macOS .DS_Store files
.DS_Store


# Packer directories
packer/build/
packer/packer_cache/

# Packer files
packer/secrets.json
packer/variables.json


# Terraform directories
terraform/.terraform/
terraform/*/.terraform/

# Terraform files
*.tfstate
*.tfstate.backup*
*.tfvars
